{% extends "app/base.html" %}
{% block content %}
<div class="container">
  <div class="jumbotron m-3">
    <div class="left">
      <h1 class="text-primary">StudyRival</h1>
      <p class="lead">StudyRivalはあなたのモチベーション維持を助けるアプリケーションです</p>
      <div class="recommend">
      <p>StudyRivalはこんな人にオススメ！</p>
        <p>友達と勉強時間を競いたい人</p>
        <p>友達の勉強時間が気になってしょうがない人</p>
        <p>勉強は質より量だと思っている人</p>
      </div>
      <p>ランキング機能により、Twitterでフォローしている友達と勉強時間の競争ができます！</p>
      <p>さらに！勉強すればするほどあなたのプレイヤーレベルもUP！！</p>
    </div>
    {% if user.is_authenticated %}
    <p><a class="btn btn-lg btn-primary" href="{% url 'mypage' %}" role="button">マイページ</a></p>
    {% else %}
    <p><a class="btn btn-lg btn-primary" href="{% url 'easy_regist:login' %}" role="button">ログイン</a></p>
    {% endif %}
  </div>
</div><!-- /.container -->
{% endblock %}
