{% extends "app/base.html" %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <div class="left">
      <h1 class="text-primary">StudyRival</h1>
      <p class="lead">StudyRivalはあなたのモチベーションを維持を助けるアプリケーションです</p>
      <p>ランキングがどうのこうの</p>
    </div>

    <p><a class="btn btn-lg" href="{% url 'easy_regist:login' %}" role="button">Login</a></p>
  </div>

  <!-- モーダルウィンドウを呼び出すボタン -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">記録！</button>
 
  <!-- モーダルウィンドウの中身 -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">レベルアップ！</h4>
        </div>
        <div class="modal-body">Lv100</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
         </div>
      </div>
    </div>
  </div>
  <!-- モーダルウィンドウ終了 -->
</div><!-- /.container -->
{% endblock %}
