{% extends "app/base.html" %}
{% block content %}
<div class="container">
  <div class="center">
    <h1>ユーザ情報</h1>
    <p class="lead">ログイン中のユーザデータを表示します</p>
  </div>
 
  <form action="" method="POST">
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>項目</th>
        <th>入力欄</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>名前</td>
        <td>
          {{ form.first_name }}
          {{ form.first_name.errors }}
        </td>
      </tr>
    </tbody>
  </table>
  {% csrf_token %}
  <button type="submit" class="btn btn-outline-primary">変更</button>
  <a href="{% url 'mypage' %}" class="btn btn-outline-primary">戻る</a>
  </form>
  
</div><!-- /.container -->
{% endblock %}
