{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
 
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
 
  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary">
      <div class="container">
        <div class="nav navbar-nav">
          <div class="d-flex flex-row">
          <a class="mr-auto p-2 nav-item nav-link" href="{% url 'easy_regist:index' %}">トップ</a>
          
          {% if user.is_authenticated %}
            <a class="p-2 nav-item nav-link" href="{% url 'mypage' %}">
              ようこそ、{{ user.username }}！マイページへ
            </a>
            <a class="p-2 nav-item nav-link" href="{% url 'easy_regist:logout' %}">ログアウト</a>
          
          {% else %}
          <a class="p-2 nav-item nav-link pull-sm-right" href="{% url 'easy_regist:login' %}">
            ようこそ、ゲスト！ログインはこちら
          </a>
          
          {% endif %}
          </div>
        </div><!-- /.nav -->
      </div><!-- /.container -->
    </nav>
 
    {% block content %} {% endblock %}
 
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    {% block script %} {% endblock %} 
  </body>
</html>
