{% extends "app/base.html" %}
{% load static %}
{% block content %}
  <div class="m-3">
    <!--タブのボタン部分-->
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="" class="nav-link navbar-default active" >プロフィール</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'ranking' %}" class="nav-link navbar-default" >ランキング</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'timer' %}" class="nav-link navbar-default" >記録</a>
        </li>
      </ul>

      <!--タブのコンテンツ部分-->
      <div id="content">
          <div class="row">
    
            <div class="col-sm-5">
              <div class="chart-wrapper">
                <div class="chart-title">
                  {{ user.first_name }}
                </div>
                <div class="chart-stage">
                  <img src={{ me.profile_image_url }}>
                  <p>レベル {{ level }}</p>
                  <p>総勉強時間 {{ time }}</p>
                  <p>レベル{{ level|add:1 }}まであと{{ require }}</p>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ progress }}%" 
                    aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">
                    {{ progress }}%
                    </div>
                  </div>
                  <a href="{% url 'easy_regist:user_update' user.pk %}" class="btn btn-outline-primary m-3">名前の変更</a>
                </div>
              </div>
            </div>
    
            <div class="col-sm-7">
              <div class="chart-wrapper">
                <div class="chart-title">
                  <h3>勉強時間の推移(最近一週間)</h3>
                </div>
                  <div class = "chart-container">
                    <script>
                        var array_time = [ {% for w in weektime %}  '{{w}}', {% endfor %} ];
                        var array_day = [ {% for w in weekdate %}  '{{w|date:'m/d'}}' , {% endfor %} ];
                    </script>
                    <canvas id="mychart"></canvas>
                  </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js" in{tegrity="sha384-MlYoi0MMUQgjPyUdOF4UEVGAa0ciSFUZS6wU3C+/tpTBTVeSgD/r0vN+oqI75XSx" crossorigin="anonymous"></script>
<script src="{% static 'js/info.js' %}"></script>
{% endblock %}

