{% extends "app/base.html" %}
{% block content %}
  <div class="m-t-1 m-l-1 m-r-1">
    <!--タブのボタン部分-->
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="{% url 'easy_regist:mypage' %}" class="nav-link navbar-default" >プロフィール</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link navbar-default active" >ランキング</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'timer' %}" class="nav-link navbar-default" >記録</a>
        </li>
      </ul>


      <!--タブのコンテンツ部分-->
        <div id=content>
          <table class="table">
              <thead class="thead-inverse">
                <tr>
                  <th>順位</th>
                  <th>名前</th>
                  <th>総勉強時間</th>
                </tr>
              </thead>
              <tbody>
              {% for d in data %}
                <tr>
                  <td> {{ forloop.counter }} </td>
                  <td> {{ d.first_name  }} </td>
                  <td> {{ d.times  }} </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
                  
        </div>
    </div>
  </div>
{% endblock %}
