{% extends "app/base.html" %}
{% block content %}
  <div class="m-t-1 m-l-1 m-r-1">
    <!--タブのボタン部分-->
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="{% url 'mypage' %}" class="nav-link navbar-default">プロフィール</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'ranking' %}" class="nav-link navbar-default" >ランキング</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link navbar-default active">記録</a>
        </li>
      </ul>


        <div id="content" class="tab-pane">
            <div id="timerText">00:00:00.00</div>
            <div id="start" class="btn active">勉強開始</div>
            <div id="stop" class="btn inactive">一時停止</div>
            <div id="save" class="btn inactive">勉強終了</div>
            <form method="POST" class="post-form" id="time-form">{% csrf_token %}
                {{ form.as_p }}
            </form>

        <!-- 勉強開始モーダル -->
        <div class="modal fade" id="studystart">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" data-target="study">勉強開始の宣言をしよう！</h4>
              </div>
              <div class="modal-body" data-target="study">
               <div class="container">
                <div class="row">
                <form action="" method="get" class="form-group" id="studystartform">
                      <label><input id="stadystarttweet" type="text" size="35" name="words" class="form-control" placeholder="ツイート" value="今から勉強を始めます！！ by Study Rival"></label>
                <input type="submit" class="btn btn-primary" value="送信">
                <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
                  </form>
                </div>
               </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 勉強開始モーダル -->

        <!-- 勉強終了モーダル -->
        <div class="modal fade" id="studyend">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" data-target="study">勉強終了の報告をしよう！</h4>
              </div>
              <div class="modal-body" data-target="study">
               <div class="container">
                <div class="row">
                  <form action="" method="get" class="form-group" id="studyendform">
                      <label><input id="stadyendtweet" type="text" size="35" name="words" class="form-control" placeholder="ツイート" value="勉強終わりました by Study Rival"></label>
                <input type="submit" class="btn btn-primary" value="送信">
                <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
                  </form>
                </div>
               </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 勉強終了モーダル -->

            <script>
            (function() {
                'use strict';

                var startTime;
                var timerId;
                var elapsedTime = 0;
                var isRunning = false;
                var isSleeping = false

                var startButton = document.getElementById('start');
                var stopButton = document.getElementById('stop');
                var saveButton = document.getElementById('save');
                var timerText = document.getElementById('timerText');
        //関数の定義////////////////////////////////////////////////

                function setButtonState(start, stop, save) {
                    startButton.className = start ? 'btn active' : 'btn inactive';
                    stopButton.className = stop ? 'btn active' : 'btn inactive';
                    saveButton.className = save ? 'btn active' : 'btn inactive';
                }

                function start_func(){
                    if (isRunning) return;
                    // ツイート画面を表示
                    if (elapsedTime==0){
                        $('#studystart').modal('show');
                        $('#studystart').on('hidden.bs.modal', function () {
                            setButtonState(false, true, false);
                            pause_func();
                        });
                        return;
                    } 
                }

                function pause_func(){
                    if(isRunning){
                        elapsedTime += Date.now() - startTime;
                        clearTimeout(timerId);
                        setButtonState(false, true, true);
                        stopButton.innerHTML = "　再開　";
                    }else{
                        startTime = Date.now(); // 1970/1/1 00:00:00からの経過ミリ秒
                        updateTimerText();
                        setButtonState(false, true, false);
                        stopButton.innerHTML = "一時停止";
                    }
                    isRunning = !isRunning;
                }

                function save_func(){
                    if(isRunning || elapsedTime==0) return;
                    var form = document.getElementById('time-form');
                    form.elements['time'].value = parseInt(elapsedTime/1000);
                    
                    // ツイート画面を表示
                    $('#studyendtweet').val(time_format(elapsedTime) + " 勉強しました by Study Rival");
                    $('#studyend').modal('show');
                    $('#studyend').on('hidden.bs.modal', function () {
                            document.getElementById('time-form').submit();
                        })
                }

                function updateTimerText() {
                    timerId = setTimeout(function() {
                        var t = Date.now() - startTime + elapsedTime;
                        timerText.innerHTML = time_format(t);
                        updateTimerText();
                    }, 10);
                }


        ////////////////////////////////////////////////////////////

        //ボタンを押した時の処理//////////////////////////////////////
                setButtonState(true, false, false);

                startButton.addEventListener('click', start_func);

                stopButton.addEventListener('click', pause_func);

                saveButton.addEventListener('click', save_func);
        //////////////////////////////////////////////////////////

        //バックグラウンド処理を行わないようにする//////////////////
                document.addEventListener("visibilitychange",function(e){
                if(document.hidden){
                    if(isRunning){
                        isSleeping = true;
                        pause_func();
                    }
                }else{
                    if(isSleeping){
                        isSleeping = false;
                        pause_func();
                    }
                }});
        /////////////////////////////////////////////////////////////
            })();

            function time_format(time){
                hour = Math.floor(time/3600000);
                minute = Math.floor(time/60000) % 60;
                sec  = Math.floor(time/1000)%60;
                msec  = Math.floor(time%1000/10);
                hour = (hour < 10) ? ("0" + hour) : hour;
                minute = (minute < 10) ? ("0" + minute) : minute;
                sec = (sec < 10) ? ("0" + sec) : sec;
                msec = (msec < 10) ? ("0" + msec) : msec;
                return hour + ":" + minute + ":" + sec + ":" + msec;
            }
            </script>
          </div>
          <!--ストップウォッチここまで-->
    </div>
  </div>
{% endblock %}
