{% extends "app/base.html" %}
{% load static %}
{% block script %}
<script src="{% static 'js/timer.js' %}"></script>
{% endblock %}
{% block content %}
  <div class="m-3">
    <!--タブのボタン部分-->
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="{% url 'mypage' %}" class="nav-link navbar-default">プロフィール</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'ranking' %}" class="nav-link navbar-default" >ランキング</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link navbar-default active">記録</a>
        </li>
      </ul>


        <div id="content" class="tab-pane">
            <div id="timerText">00:00:00.00</div>
            <div id="start" class="btn active">勉強開始</div>
            <div id="stop" class="btn inactive">一時停止</div>
            <div id="save" class="btn inactive">勉強終了</div>
            <form method="POST" class="post-form" id="time-form">{% csrf_token %}
                {{ form.as_p }}
            </form>

        <!-- 勉強開始モーダル -->
        
        <div class="modal fade" id="studystart">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <form action="{% url 'tweet' %}" method="post" class="tweetform">
              <div class="modal-header">
                <h5 class="modal-title">勉強開始の宣言をしよう！</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <input type="text" size="35" name="words" class="form-control" placeholder="ツイート" value="今から勉強を始めます！ by Study Rival"> 
              </div>
              <div class="modal-footer">
              {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="ツイート">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
              </div>
              </form>
            </div>
          </div>
        </div>
        <!-- 勉強開始モーダル -->

        <!-- 勉強終了モーダル -->
        <div class="modal fade" id="studyend">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <form action="{% url 'tweet' %}" method="post" class="tweetform">
              <div class="modal-header">
                <h5 class="modal-title">勉強終了の報告をしよう！</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <input id="stadyendtweet" type="text" size="35" name="words" class="form-control" placeholder="ツイート" value="勉強しました！by Study Rival"> 
              </div>
              <div class="modal-footer">
              {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="ツイート">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
              </div>
              </form>
            </div>
          </div>
        </div>
        <!-- 勉強終了モーダル -->
        </div>
          <!--ストップウォッチここまで-->
    </div>
  </div>
{% endblock %}
